<html xmlns:wicket>
<wicket:panel>
<div id="leftadvertise">
<script type="text/javascript"><!--
google_ad_client = "pub-6652396182784928";
/* 160x600, created 9/9/10 */
google_ad_slot = "2524894620";
google_ad_width = 160;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<a wicket:id="ad1link" target="_blank" style="text-decoration:  none; border-width: 0px;"> <img wicket:id="ad1" style="border-width: 0px;"/> </a>
</div>
</wicket:panel>
</html>
  