<html xmlns:wicket>

<body>
<wicket:panel>
<div id="footer" >
<br/>
				<a href="#" wicket:id="home">Home</a> | <a href="#" wicket:id="faqPage">FAQ</a> <a href="#" wicket:id="aboutUs">About Us</a> <a href="#" wicket:id="products">Products</a> | <a href="mailto:admin@makeyourpicks.info" >Contact Us</a> | <a href="#" wicket:id="siteMap">Site Map</a>
				| MakeYourPicks 
				&copy; 2007 
			</div>
			
			<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11735560-1");
pageTracker._trackPageview();
} catch(err) {}</script>
			</wicket:panel>
			
</body>
</html>			