<html xmlns:wicket>
<wicket:panel>
<table cellpadding="0" cellspacing="0">
	<tr>
		<td id="leftHeader">
			<a href="home.html"><img src="/leagues/images/logo/myp.png" class="logo"/></a>		
		</td>
		<td id="leftMiddleHeader">
			<h1 wicket:id="leagueName"></h1>
		</td>
		<td id="rightMiddleHeader">
			<div wicket:id="headerWidget"/>
		</td>
		<td id="rightHeader">
			<div id="welcomeBox" class="ui-corner-all">
				<div wicket:id="welcome" id="welcome"></div>
				<a href="#" wicket:id="profile">My Account</a> | <a href="#" wicket:id="logout">Logout</a>
				<br/>
				<div class="inLine" wicket:id="weekNavPanel"></div>
			</div>  
		</td>
	</tr>
</table>

</wicket:panel>
</html> 