
<html xmlns:wicket>
<wicket:panel>
<table cellpadding="0" cellspacing="0">
	<tr>
		<td id="leftHeader">
			<a href="home.html"><img src="/leagues/images/logo/myp.png" class="logo"/></a>		
		</td>
		<td id="leftMiddleHeader">
			<h1>Make Your Picks</h1>
		</td>
		<td id="rightMiddleHeader">
			<h2>Your solution for Office pools and fantasy sports.</h2>
		</td>
		<td id="rightHeader">
			<div id="welcomeBox" class="ui-corner-all">
				<div wicket:id="welcome" id="welcome"></div>
				<a href="#" wicket:id="profile">My Account</a> <span wicket:id="spaceHolder"/> <a href="#" wicket:id="logout">Logout</a>
				<a href="#" wicket:id="registerPage">Register</a> | <a href="#" wicket:id="loginPage">Login</a> 
			</div>
		</td>
	</tr>
</table>


</wicket:panel>
</html> 





