<html xmlns:wicket>
<wicket:panel>
	
		<div id="leftnav_container">
			<div id="logo"></div>
			<div id="leftnav">
				<div class="ui-accordion ui-widget ui-helper-reset">
					<h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all">
						<span class="ui-icon ui-icon-triangle-1-e"></span>
						<a href="#" wicket:id="myPools" class="leftnavtext">My Pools</a>
					</h3>	
				</div>
				<div class="ui-accordion ui-widget ui-helper-reset">
					<h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all">
						<span class="ui-icon ui-icon-triangle-1-e"></span>
						<a href="#" wicket:id="createLeague">Create League<br/></a>
						
					</h3>	
				</div>
				<div class="ui-accordion ui-widget ui-helper-reset">
					<h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all">
						<span class="ui-icon ui-icon-triangle-1-e"></span>
						<a href="#" wicket:id="joinLeague" class="leftnavtext">Join League<br/></a>
					</h3>	
				</div>
				<div class="ui-accordion ui-widget ui-helper-reset">
					<h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all">
						<span class="ui-icon ui-icon-triangle-1-e"></span>
						<a href="#" wicket:id="adminPage" class="leftnavtext">Admin<br/></a>
					</h3>	
				</div>
				
				
<!-- 				<a href="#" class="leftnavtext">Home<br/></a> -->
				
				
				
			</div>	
		</div>
		
</wicket:panel>

</html>
