<html xmlns:wicket>
<head>
      <!--<link rel="stylesheet" type="text/css" href="" />-->
<STYLE TYPE="text/css" MEDIA="screen, projection">
<!--
  @import url(http://www.makeyourpicks.info/leagues/styles/master.css);
-->
</STYLE>
</head>

<body>
	<table id="container" cellpadding="0" cellspacing="0" border="0">
		<tr valign="top">
			<td width="100%" align="left">
				<div id="content_container">
					<div wicket:id="header" id="header">
						<img src="http://www.makeyourpicks.info/leagues/styles/makeyourpics.jpg"/>
					</div>		
					<div id="content">

						Hey,
						<br/>
						<br/>
						Please find your password from our Helpdesk enclosed. If you did not request this password, please ignore this Email.  
						<br/>
						<br/>
						<b>Username: ${username}<br/>
						Password: ${password}</b>
						<br/>
						<br/>
						If you have any questions then please do let us know,
						<br/>
						<br/>
						Tim<br/>
						admin@makeyourpicks.info
						
				
					</div>

				</div>		
			</td>
		</tr>
	</table>		
		
		
	
		
		<div wicket:id="footer" id="footer">
<div id="footer" class="smallgraytext">
				<a href="?wicket:interface=:2:footer:home:2:ILinkListener::" wicket:id="home">Home</a> | <a href="?wicket:interface=:2:footer:faqPage:2:ILinkListener::" wicket:id="faqPage">FAQ</a> |  |  | <a href="?wicket:interface=:2:footer:contactUs:2:ILinkListener::" wicket:id="contactUs">Contact Us</a>

				| MakeYourPicks 
				&copy; 2007 
			</div>
		</div>
			
		
		
		
</body>

</html>