<html xmlns:wicket>
<wicket:panel>

<div id="leftnav_container">
			<div id="logo"></div>
			<div id="leftnav">
			
			<div class="leftnavtitle" wicket:id="memeberTitle">MEMBERS</div>
				<a href="#" wicket:id="createLeague" class="leftnavtext">Create League<br/></a>
				<a href="#" wicket:id="joinLeague" class="leftnavtext">Join League<br/></a>
			<div class="leftnavtitle">MY LEAGUES</div>
				<div wicket:id="activePlayerLeaguesPanel"/>		
<div wicket:id="activePlayerLeaguesPanel"></div>




</div>	
		</div>
		<table id="leftnavbottom_container" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td align="left" valign="bottom" width="15"><img src="styles/btm_left_round.jpg"/></td>
				<td>&nbsp;</td>
				<td align="right" valign="bottom" width="15"><img src="styles/btm_right_round.jpg"/></td>
			</tr>
		</table>




</wicket:panel>
</html> 