
<div id="weekNav"></div>
<div style="clear:both; margin-bottom:20px;"></div>
<div id="weeks"></div>

<script type="text/template" id="addgame">
<div class="row">
<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
<form>
<p>Favorite:<br/>
	<select name="fav.id">
		<% _.each(teams,function(teams){ %>
			<option value="<%=teams.id%>"><%=teams.city%>&nbsp;<%=teams.teamName%></option>
		<% }); %>
	</select>
</p>
<p>Spread:<br/>
	<input type="text" name="spread" size="3" value="0.5"/>
</p>
<p>Dog:<br/>
	<select name="dog.id">
		<% _.each(teams,function(teams){ %>
			<option value="<%=teams.id%>"><%=teams.city%>&nbsp;<%=teams.teamName%></option>
		<% }); %>
	</select>
</p>
<p>Favorite Home:<br/>
	<input type="checkbox" name="favHome" value="true" id="favhome"/>
</p>

<p>Game Start:<br/>
Time:<input type="text" name="gameStartTime" size="5" value="01:00"/> Date:<input type="text" name="gameStartDate" size="8" value="04/01/2014"/>
	<input type="hidden" name="week.id"  id="weekid" value="1"/>
</p>
<input type="button" value="add game" onClick="addNewGame()"/>
</form>
</div>
</div>
</script>

<script type="text/template" id="games">
Game in Week:<br/>
<div class="row">
<% _.each(games,function(games, index){ %>

<form name="game<%=index%>">
<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
	<div class="gametime"><%=games.gameStartDisplay%></div>
	<div class="scoreboard shadow">
		<div class="scorerow">
			<div class="teamname"><%=games.fav.fullTeamName%><span class="spread">(<%=games.spread%>)</span></div>
			<div class="score"><input size="2" name="favScore" value="<%=games.favScore%>"/></div>
		</div>
		<div class="scorerow">
			<div class="teamname"><%=games.dog.fullTeamName%></div>
		<div class="score"><input size="2" name="dogScore" value="<%=games.dogScore%>"/></div>
		</div>
		<div class="edit">
			<input type="text" name="gameStartTime" size="5" value="<%=games.gameStartTimeForUpdate%>"/> Date:<input type="text" name="gameStartDate" size="8" value="<%=games.gameStartDateForUpdate%>"/>
			<input type="hidden" name="id" value="<%=games.id%>"/>
			<input type="button" value="update" onClick="updateScore(this.form)"/>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
</form>
<% }); %>
</div>
</script>